<div class="promo-ticker">
    <div class="promo-ticker__wrapper">
        <div class="promo-ticker__line">
            <p class="promo-ticker__text">купили мёд? <span>Смажьте им братские булочки</span></p>
            <div class="promo-ticker__star">★</div>
            <p class="promo-ticker__text">По вопросам: <span>chastnayapaseka3pois23@gmail.com</span></p>
            <div class="promo-ticker__star">★</div>
            <p class="promo-ticker__text">Зашли к нам <span>Зайдите в Братские булочки</span></p>
            <div class="promo-ticker__star">★</div>
        </div>
        <div class="promo-ticker__line">
            <p class="promo-ticker__text">купили мёд? <span>Смажьте им братские булочки</span></p>
            <div class="promo-ticker__star">★</div>
            <p class="promo-ticker__text">По вопросам: <span>chastnayapaseka3pois23@gmail.com</span></p>
            <div class="promo-ticker__star">★</div>
            <p class="promo-ticker__text">Зашли к нам <span>Зайдите в Братские булочки</span></p>
            <div class="promo-ticker__star">★</div>
        </div>
    </div>
</div>