<footer>
        <div class="footer-drops">
            <img src="images/honey-drops.png" width="100%" height="200" alt="Подтеки меда">
        </div>

        <table width="100%" border="0" cellpadding="15" cellspacing="0">
            <tr>
                
                <td width="33%" align="center" valign="middle">
                    <img src="images/logo-placeholder.png" width="80" alt="Лого" align="absmiddle">
                    <strong style="display: inline-block; text-align: left; margin-left: 10px;">
                        Частная пасека<br>ЗПОИС23
                    </strong>
                </td>

                <td width="34%" align="center" valign="middle">
                    <img src="images/mail-icon.png" width="60" alt="Почта" align="absmiddle">
                    <span style="display: inline-block; text-align: left; margin-left: 10px;">
                        Адрес электронной почты:<br>
                        <strong>chastnayapaseka3pois23@gmail.com</strong>
                    </span>
                </td>

                <td width="33%" align="center" valign="middle">
                    <img src="images/red-phone-icon.png" width="60" alt="Телефон" align="absmiddle">
                    <strong style="display: inline-block; text-align: left; margin-left: 10px;">
                        +375 (33) 628-86-72
                    </strong>
                </td>
            </tr>
        </table>
    </footer>