<footer>
    <div class="footer-drops">
        <img src="images/honey-drops.png" width="100%" height="200" alt="Подтеки меда">
    </div>
    <div class="footer-nav">
        <div class="footer-col">
            <img src="images/logo-placeholder.png" width="80" alt="Лого">
            <span class="logo-text">
                <strong>Частная пасека<br>ЗПОИС23</strong>
            </span>
        </div>
        <div class="footer-col">
            <img src="images/mail-icon.png" width="60" alt="Почта">
            <span class="cart-links">
                Адрес электронной почты:<br>
                <a href="mailto:chastnayapaseka3pois23@gmail.com">chastnayapaseka3pois23@gmail.com</a>
            </span>
        </div>
        <div class="footer-col">
            <img src="images/red-phone-icon.png" width="60" alt="Телефон">
            <span class="logo-text">
                <strong>+375 (33) 628-86-72</strong>
            </span>
        </div>
    </div>
</footer>